Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, pnpm run lint:cypress --cache --fix --cache-location ./node_modules/.cache/.eslintcache, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "cypress/**/*.ts": [
    "prettier --write",
    "pnpm run lint:cypress --cache --fix --cache-location ./node_modules/.cache/.eslintcache"
  ],
  "src/**/*.test.{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache"
  ],
  "src/**/*.!(test).{ts,tsx}": [
    "prettier --write",
    "pnpm run lint:src --cache --fix --cache-location ./node_modules/.cache/.eslintcache",
    "tsc-files --noEmit",
    "pnpm run test:related"
  ]
}

chore: fix extend-expect typing in test files
  pnpm-lock.yaml
  src/jest.setup.ts
Due: none

chore: update renovate config
  renovate.json
Due: none

refactor: switch from jest to vitest for testing
  .eslintrc
  .jest/resolver.js
  .lintstagedrc
  README.md
  cypress/tsconfig.json
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/mocks/IntersectionObserver.ts
  src/mocks/windowMatchMedia.ts
  src/mocks/windowScrollTo.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.js
  vite.config.ts
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: fix ci workflow
  .github/workflows/main.yml
Due: none

chore: cleanup
  pnpm-lock.yaml
  src/jest.mock.d.ts
Due: none

refactor: switch from jest to vitest for testing (#124)
  .eslintrc
  .github/workflows/main.yml
  .jest/resolver.js
  .lintstagedrc
  README.md
  cypress/tsconfig.json
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/jest.mock.d.ts
  src/mocks/IntersectionObserver.ts
  src/mocks/windowMatchMedia.ts
  src/mocks/windowScrollTo.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.js
  vite.config.ts
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.716d028c.js
  assets/browser.89d27dac.js
  assets/index.23555335.js
  assets/index.51477fee.js
  assets/index.5af7c098.js
  assets/index.ba57ae45.js
  assets/index.c2bc830a.js
  assets/index.c6d853c9.js
  assets/index.de874faa.js
  index.html
Due: prettier --write

chore: update mockServiceWorker.js
  public/mockServiceWorker.js
Due: none

Updates
  assets/browser.16826fbe.js
  assets/browser.716d028c.js
  assets/index.16b03389.js
  assets/index.23555335.js
  assets/index.3429df27.js
  assets/index.51477fee.js
  assets/index.72405bd3.js
  assets/index.c6d853c9.js
  assets/index.f317a358.js
  index.html
  mockServiceWorker.js
Due: prettier --write

feat: masonry component
  package.json
  pnpm-lock.yaml
  src/components/Masonry/Masonry.tsx
  src/components/Masonry/index.ts
  src/routes/tasks/Todos/Todos.tsx
Due: none

feat: masonry component (#129)
  package.json
  pnpm-lock.yaml
  src/components/Masonry/Masonry.tsx
  src/components/Masonry/index.ts
  src/routes/tasks/Todos/Todos.tsx
Due: none

Updates
  assets/browser.16826fbe.js
  assets/browser.4f46bb38.js
  assets/index.147cd9ca.js
  assets/index.16b03389.js
  assets/index.18e0860e.js
  assets/index.72405bd3.js
  assets/index.8b392be6.js
  assets/index.f317a358.js
  assets/index.f66508e5.js
  index.html
Due: prettier --write

chore: update readme
  README.md
Due: none

chore: update vite3 port
  .github/workflows/cypress.yml
  .vscode/launch.json
  cypress.config.ts
  package.json
  pnpm-lock.yaml
Due: none

Updates
  assets/browser.4f46bb38.js
  assets/browser.bbc06dd6.js
  assets/index.147cd9ca.js
  assets/index.18e0860e.js
  assets/index.2b878dd6.js
  assets/index.35773d0c.js
  assets/index.7d4c0aa2.js
  assets/index.8b392be6.js
  assets/index.f66508e5.js
  assets/index.fc2c0887.js
  assets/index.fdeb3cc5.css
  index.html
Due: prettier --write

Updates
  assets/browser.405e1a41.js
  assets/browser.bbc06dd6.js
  assets/index.2b878dd6.js
  assets/index.35773d0c.js
  assets/index.5daadd90.js
  assets/index.7d4c0aa2.js
  assets/index.b3f146b2.js
  assets/index.cf516400.js
  assets/index.dd82cb8d.js
  assets/index.fc2c0887.js
  index.html
Due: prettier --write

chore: update readme with preview screenshots
  README.md
Due: none

Updates
  assets/browser.405e1a41.js
  assets/browser.f099fedf.js
  assets/index.02eef542.js
  assets/index.21119baf.js
  assets/index.5197a669.js
  assets/index.5daadd90.js
  assets/index.cbe2f003.js
  assets/index.cf516400.js
  assets/index.dd82cb8d.js
  index.html
  mockServiceWorker.js
Due: prettier --write

chore: do not merge msw package updates automatically
  public/mockServiceWorker.js
  renovate.json
Due: none

chore: do not merge msw package updates automatically (#137)
  public/mockServiceWorker.js
  renovate.json
Due: none

chore: update vitest to latest and explicit usage
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: require approval for vitest renovate update
  renovate.json
Due: none

chore: update vitest to latest and explicit usage (#142)
  package.json
  pnpm-lock.yaml
  renovate.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/vitest.setup.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.f03d531f.js
  assets/browser.f099fedf.js
  assets/index.02eef542.js
  assets/index.21119baf.js
  assets/index.7db1ad07.js
  assets/index.cbe2f003.js
  assets/index.ec297e2d.js
  assets/index.efeaa4f2.js
  assets/index.f91be650.js
  index.html
Due: prettier --write

chore: switch to @tanstack/react-query package
  README.md
  package.json
  pnpm-lock.yaml
  src/App/App.test.tsx
  src/generated/index.ts
  src/index.tsx
  src/queryClient.ts
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/query/useTodos.ts
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.444452fd.js
  assets/browser.f03d531f.js
  assets/index.70b0c42a.js
  assets/index.7db1ad07.js
  assets/index.8f415c0e.js
  assets/index.e214a5f9.js
  assets/index.e9c8816d.js
  assets/index.ec297e2d.js
  assets/index.efeaa4f2.js
  index.html
Due: prettier --write

chore: setup sentry.io monitoring
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: none

chore: setup sentry.io monitoring (#146)
  package.json
  pnpm-lock.yaml
  src/index.tsx
Due: none

Updates
  assets/browser.444452fd.js
  assets/browser.eab4b059.js
  assets/index.21559719.js
  assets/index.272eb408.js
  assets/index.3e471fbf.js
  assets/index.8f415c0e.js
  assets/index.b9cebf6b.js
  assets/index.e214a5f9.js
  assets/index.e9c8816d.js
  index.html
Due: prettier --write

chore: update react-router-dom to pre-release version
  package.json
  pnpm-lock.yaml
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/App/ErrorPage.tsx
  src/App/useErrorMessage.ts
  src/index.tsx
  src/routes/layout/Layout.tsx
Due: none

chore: update test setup
  src/App/App.test.tsx
Due: prettier --write, pnpm run lint:jest --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/browser.1927d5b3.js
  assets/browser.eab4b059.js
  assets/index.16c2c278.js
  assets/index.21559719.js
  assets/index.3e471fbf.js
  assets/index.44470501.js
  assets/index.c2f83388.js
  assets/index.e116b064.js
  assets/web-vitals.21260f39.js
  assets/web-vitals.a2d693e8.js
  index.html
Due: prettier --write

refactor: migrate to @heroicons v2
  src/App/LoadingIndicator.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/ThemeToggle/ThemeToggle.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: none

Updates
  assets/browser.1927d5b3.js
  assets/browser.5b837c9c.js
  assets/index.16c2c278.js
  assets/index.1ad4f11a.js
  assets/index.44470501.js
  assets/index.55aebe7e.js
  assets/index.85f24af0.js
  assets/index.c2f83388.js
  assets/index.e116b064.js
  assets/index.e42d1a13.js
  index.html
Due: prettier --write

chore: fix tailwind prettier plugin & pnpm
  .prettierrc
Due: none

chore: fix tailwind prettier plugin & pnpm (#152)
  .prettierrc
Due: none

refactor: optimize re-renders
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/TodoItem/index.ts
  src/routes/tasks/Todos/Todos.tsx
Due: none

refactor: optimize re-renders (#155)
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/TodoItem/index.ts
  src/routes/tasks/Todos/Todos.tsx
Due: none

Updates
  assets/browser.5b837c9c.js
  assets/browser.d59fef4c.js
  assets/index.1ad4f11a.js
  assets/index.55aebe7e.js
  assets/index.82e8faa4.js
  assets/index.85f24af0.js
  assets/index.a4966889.js
  assets/index.c9d4d6b3.js
  assets/index.cf034981.js
  index.html
Due: prettier --write

fix: reachui@0.18.x imports
  renovate.json
  src/routes/taskNew/NewTaskModal.tsx
Due: none
