Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "npm run lint:fix",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}

feat: hide header/footer on scroll down
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/hooks/useHideOnScroll.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: hide CTAButton on scroll down
  src/hooks/useHeadroom.ts
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: introduce Headroom/Legroom components
  src/components/Headroom/Headroom.tsx
  src/components/Headroom/Legroom.tsx
  src/components/Headroom/hooks/useHeadroom.ts
  src/components/Headroom/index.ts
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: comment
  src/components/Headroom/hooks/useHeadroom.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: footer positioning
  src/components/Headroom/Legroom.tsx
  src/routes/layout/Navigation/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: comment
  src/components/Headroom/hooks/useHeadroom.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

hack: initial unpinned animation
  src/components/Headroom/Headroom.tsx
  src/components/Headroom/hooks/useHeadroom.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: hide header/footer/CTAButton on scroll down (#36)
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/components/Headroom/Headroom.tsx
  src/components/Headroom/Legroom.tsx
  src/components/Headroom/hooks/useHeadroom.ts
  src/components/Headroom/index.ts
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.5ab364a3.css
  static/css/main.5ab364a3.css.map
  static/css/main.9a567198.css
  static/css/main.9a567198.css.map
  static/js/726.6e94154a.chunk.js
  static/js/726.6e94154a.chunk.js.map
  static/js/726.74191723.chunk.js
  static/js/726.74191723.chunk.js.map
  static/js/main.07df7bbe.js
  static/js/main.07df7bbe.js.LICENSE.txt
  static/js/main.07df7bbe.js.map
  static/js/main.98993e70.js
  static/js/main.98993e70.js.map
Due: prettier --write

refactor: add headroom/legroom wrapper elements
  src/components/Headroom/Headroom.tsx
  src/components/Headroom/Legroom.tsx
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: add headroom/legroom wrapper elements (#37)
  src/components/Headroom/Headroom.tsx
  src/components/Headroom/Legroom.tsx
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.9a567198.css.map
  static/js/main.07df7bbe.js
  static/js/main.07df7bbe.js.map
  static/js/main.2eb9a70b.js
  static/js/main.2eb9a70b.js.LICENSE.txt
  static/js/main.2eb9a70b.js.map
Due: prettier --write

fix: add new modal should not remember previous scroll upon closing
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: add-new modal not to persist previous scroll position upon closing (#38)
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.9a567198.css.map
  static/js/main.2eb9a70b.js
  static/js/main.2eb9a70b.js.map
  static/js/main.c5230971.js
  static/js/main.c5230971.js.LICENSE.txt
  static/js/main.c5230971.js.map
Due: prettier --write

refactor: update headroom typings to latest
  package-lock.json
  package.json
  src/components/Headroom/hooks/useHeadroom.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: swipe-to-action only handle horizontal swipes
  src/components/SwipeToAction/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: update headroom typings to latest (#39)
  package-lock.json
  package.json
  src/components/Headroom/hooks/useHeadroom.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  static/css/main.9a567198.css.map
  static/js/main.c5230971.js.map
Due: none

fix: handle only horizontal gestures with swipe-to-action component (#40)
  src/components/SwipeToAction/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.9a567198.css.map
  static/js/726.74191723.chunk.js
  static/js/726.74191723.chunk.js.map
  static/js/726.9796eabd.chunk.js
  static/js/726.9796eabd.chunk.js.map
  static/js/main.bcb36738.js
  static/js/main.bcb36738.js.LICENSE.txt
  static/js/main.bcb36738.js.map
  static/js/main.c5230971.js
  static/js/main.c5230971.js.map
Due: prettier --write

chore: cleanup eslint ruleset
  .eslintrc
Due: none

chore: cleanup eslint ruleset (#45)
  .eslintrc
Due: none

Updates
  static/css/main.9a567198.css.map
Due: none

refactor: switch form handling to react-hook-form
  package-lock.json
  package.json
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: switch form handling to react-hook-form (#47)
  package-lock.json
  package.json
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.9a567198.css.map
  static/js/726.8808b6c5.chunk.js
  static/js/726.8808b6c5.chunk.js.map
  static/js/726.9796eabd.chunk.js
  static/js/726.9796eabd.chunk.js.map
  static/js/main.4372b1ea.js
  static/js/main.4372b1ea.js.LICENSE.txt
  static/js/main.4372b1ea.js.map
  static/js/main.bcb36738.js
  static/js/main.bcb36738.js.map
Due: prettier --write

feat: add support for dark mode
  package-lock.json
  package.json
  public/index.html
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/components/SearchBox/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/useColorMode.ts
  src/hooks/useLocalStorage.ts
  src/index.css
  src/routes/analytics/index.tsx
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/notFound/index.tsx
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
  src/routes/tasks/CtaButton/index.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
  src/setupTests.ts
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add support for dark mode (#48)
  package-lock.json
  package.json
  public/index.html
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/components/SearchBox/index.tsx
  src/components/ThemeToggle/index.tsx
  src/components/ThemeToggle/useColorMode.ts
  src/hooks/useLocalStorage.ts
  src/index.css
  src/routes/analytics/index.tsx
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/notFound/index.tsx
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
  src/routes/tasks/CtaButton/index.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
  src/setupTests.ts
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.9a567198.css
  static/css/main.9a567198.css.map
  static/css/main.a9892940.css
  static/css/main.a9892940.css.map
  static/js/37.8964175b.chunk.js
  static/js/37.8964175b.chunk.js.map
  static/js/37.d24ba544.chunk.js
  static/js/37.d24ba544.chunk.js.map
  static/js/726.8808b6c5.chunk.js
  static/js/726.8808b6c5.chunk.js.map
  static/js/726.ae17366d.chunk.js
  static/js/726.ae17366d.chunk.js.map
  static/js/736.b05f3462.chunk.js
  static/js/736.b05f3462.chunk.js.map
  static/js/827.936223c6.chunk.js
  static/js/827.936223c6.chunk.js.map
  static/js/827.edaed079.chunk.js
  static/js/827.edaed079.chunk.js.map
  static/js/840.67ae50f5.chunk.js
  static/js/840.67ae50f5.chunk.js.LICENSE.txt
  static/js/840.67ae50f5.chunk.js.map
  static/js/main.4372b1ea.js
  static/js/main.4372b1ea.js.map
  static/js/main.70e1f16a.js
  static/js/main.70e1f16a.js.LICENSE.txt
  static/js/main.70e1f16a.js.map
Due: prettier --write

chore: update readme
  README.md
Due: none

refactor: theme colors tweaking
  src/index.css
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/tasks/CtaButton/index.tsx
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: theme colors tweaking (#49)
  src/index.css
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/tasks/CtaButton/index.tsx
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.a9892940.css
  static/css/main.a9892940.css.map
  static/css/main.dab184c7.css
  static/css/main.dab184c7.css.map
  static/js/726.1ee6cf30.chunk.js
  static/js/726.1ee6cf30.chunk.js.map
  static/js/726.ae17366d.chunk.js
  static/js/726.ae17366d.chunk.js.map
  static/js/827.59290b31.chunk.js
  static/js/827.59290b31.chunk.js.map
  static/js/827.edaed079.chunk.js
  static/js/827.edaed079.chunk.js.map
  static/js/main.70e1f16a.js
  static/js/main.70e1f16a.js.map
  static/js/main.b8446ca3.js
  static/js/main.b8446ca3.js.LICENSE.txt
  static/js/main.b8446ca3.js.map
Due: prettier --write

refactor: no-items theme tweak
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/tasks/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: no-items theme tweaking (#50)
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/tasks/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.83313db7.css
  static/css/main.83313db7.css.map
  static/css/main.dab184c7.css
  static/css/main.dab184c7.css.map
  static/js/726.1ee6cf30.chunk.js
  static/js/726.1ee6cf30.chunk.js.map
  static/js/726.62bc824f.chunk.js
  static/js/726.62bc824f.chunk.js.map
  static/js/main.6487c992.js
  static/js/main.6487c992.js.LICENSE.txt
  static/js/main.6487c992.js.map
  static/js/main.b8446ca3.js
  static/js/main.b8446ca3.js.map
Due: prettier --write

fix: possible issue with ssr rehydration
  src/components/ThemeToggle/useColorMode.ts
  src/hooks/useHasMounted.ts
  src/hooks/useLocalStorage.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: possible issue with ssr rehydration (#51)
  src/components/ThemeToggle/useColorMode.ts
  src/hooks/useHasMounted.ts
  src/hooks/useLocalStorage.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.83313db7.css.map
  static/js/827.13c0092c.chunk.js
  static/js/827.13c0092c.chunk.js.map
  static/js/827.59290b31.chunk.js
  static/js/827.59290b31.chunk.js.map
  static/js/main.5a5f73db.js
  static/js/main.5a5f73db.js.LICENSE.txt
  static/js/main.5a5f73db.js.map
  static/js/main.6487c992.js
  static/js/main.6487c992.js.map
Due: prettier --write
