Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:cypress -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache, npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache

Updates
  assets/index.39e4442d.js
  assets/index.81962298.js
  assets/index.8c3ac9cc.js
  assets/index.9c7b61f9.js
  assets/index.a23dbd6c.js
  assets/index.ce0d2bb1.js
  index.html
Due: prettier --write

chore: package-lock.json
  package-lock.json
  public/mockServiceWorker.js
Due: none

Updates
  mockServiceWorker.js
Due: none

chore: switch to pnpm
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

chore: switch to pnpm (#107)
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  .npmrc
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: none

Updates
  assets/index.192c4e7c.js
  assets/index.3c9a4c65.js
  assets/index.3e3a545b.js
  assets/index.81962298.js
  assets/index.9c7b61f9.js
  assets/index.ce0d2bb1.js
  assets/index.ce316fec.js
  assets/web-vitals.a2d693e8.js
  index.html
Due: prettier --write

chore: npm references to pnpm
  package.json
Due: none

chore: update readme
  README.md
Due: none

chore: update readme (#108)
  README.md
Due: none

chore: update deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: update deploy workflow (#109)
  .github/workflows/deploy.yml
Due: none

Updates
  assets/index.2557e6b3.js
  assets/index.3c9a4c65.js
  assets/index.3e3a545b.js
  assets/index.64a8b41f.js
  assets/index.76b15489.js
  assets/index.bbccb650.js
  index.html
Due: prettier --write

chore: update deploy workflow (#110)
  .github/workflows/deploy.yml
Due: none

chore: fix pnpm run usage
  .github/workflows/deploy.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

chore: fix pnpm run usage (#111)
  .github/workflows/deploy.yml
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

chore: update all non-major dependencies
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update mockServiceWorker.js version string
  .eslintignore
  public/mockServiceWorker.js
Due: none

fix: handle fakeQL 424 response
  src/generated/index.ts
Due: none

fix: handle fakeQL 424 response code (#115)
  .eslintignore
  public/mockServiceWorker.js
  src/generated/index.ts
Due: none

Updates
  assets/index.064d7f8c.js
  assets/index.31cd9ae0.js
  assets/index.47d6a1eb.js
  assets/index.64a8b41f.js
  assets/index.76b15489.js
  assets/index.fa189d05.js
  index.html
Due: prettier --write

fix: dark mode initialization if already stored in localStorage
  index.html
Due: prettier --write

chore: temporarily enable local api mock while FakeQL down
  .env
Due: none

chore: update dependency @types/jest to v28
  package.json
Due: none

chore: pnpm-lock
  package.json
  pnpm-lock.yaml
Due: none

Updates
  assets/browser.feeb06fb.js
  assets/index.31cd9ae0.js
  assets/index.47d6a1eb.js
  assets/index.513ff5b5.js
  assets/index.881c0284.js
  assets/index.afa0b2b5.js
  assets/index.fa189d05.js
  assets/index.fcb10a2d.js
  index.html
Due: prettier --write

chore: update pnpm to v7.1.9
  package.json
  pnpm-lock.yaml
Due: none

chore: update dependency lint-staged to v13
  package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm to v7.2.1
  package.json
Due: none

chore: update dependency cypress to v10
  package.json
Due: none

chore: migrate to cypress 10
  .eslintignore
  cypress.config.ts
  cypress.json
  cypress/e2e/App.spec.ts
  cypress/support/e2e.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, npm run lint:cypress -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: update cypress github action to latest
  .github/workflows/cypress.yml
Due: none

fix: search input should not trigger page reload
  src/components/SearchBox/SearchBox.tsx
  src/routes/layout/Header/Header.tsx
Due: none

fix: search input should not trigger page reload (#120)
  src/components/SearchBox/SearchBox.tsx
  src/routes/layout/Header/Header.tsx
Due: none

Updates
  assets/browser.89d27dac.js
  assets/browser.feeb06fb.js
  assets/index.513ff5b5.js
  assets/index.5af7c098.js
  assets/index.881c0284.js
  assets/index.ba57ae45.js
  assets/index.c2bc830a.js
  assets/index.c8b7cc9d.js
  index.html
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{html,css}) or (any of: cypress/**/*.ts)) or (any of: src/**/*.test.{ts,tsx})
  npm run lint:cypress -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache: any of: cypress/**/*.ts
  npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache: any of: src/**/*.test.{ts,tsx}
