Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "npm run lint:fix",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}

Updates
  asset-manifest.json
  favicon.ico
  index.html
  logo192.png
  logo512.png
  manifest.json
  robots.txt
  static/css/main.e6c13ad2.css
  static/css/main.e6c13ad2.css.map
  static/js/787.202fe7b6.chunk.js
  static/js/787.202fe7b6.chunk.js.map
  static/js/main.14a522a4.js
  static/js/main.14a522a4.js.LICENSE.txt
  static/js/main.14a522a4.js.map
Due: prettier --write

chore: repo setup
  README.md
  package-lock.json
  package.json
Due: none

chore: setup tailwind
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/index.css
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: setup tailwind (#1)
  package-lock.json
  package.json
  postcss.config.js
  src/App.tsx
  src/index.css
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: setup graphql/react-query codegen
  .eslintignore
  .graphqlrc.yml
  .prettierignore
  graphql.schema.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/Todos/index.tsx
  src/components/Todos/todos.gql
  src/generated/index.ts
  src/index.css
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: setup graphql/react-query codegen (#2)
  .eslintignore
  .graphqlrc.yml
  .prettierignore
  graphql.schema.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/Todos/index.tsx
  src/components/Todos/todos.gql
  src/generated/index.ts
  src/index.css
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: update readme
  README.md
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.e6c13ad2.css
  static/css/main.e6c13ad2.css.map
  static/css/main.e706c4f1.css
  static/css/main.e706c4f1.css.map
  static/js/main.14a522a4.js
  static/js/main.14a522a4.js.map
  static/js/main.73fa20dd.js
  static/js/main.73fa20dd.js.LICENSE.txt
  static/js/main.73fa20dd.js.map
Due: prettier --write

feat: add masonry layout for todos
  .graphqlrc.yml
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/Todos/index.tsx
  src/components/Todos/todos.gql
  src/components/Todos/useTodos.ts
  src/generated/index.ts
  src/utils.ts
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add responsive masonry layout for todo items (#3)
  .graphqlrc.yml
  .vscode/settings.json
  package-lock.json
  package.json
  src/App.tsx
  src/components/Todos/index.tsx
  src/components/Todos/todos.gql
  src/components/Todos/useTodos.ts
  src/generated/index.ts
  src/utils.ts
  tailwind.config.js
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: extract header with search component
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header/index.tsx
  src/components/Todos/index.tsx
  src/index.css
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: extract header with search component (#4)
  package-lock.json
  package.json
  src/App.tsx
  src/components/Header/index.tsx
  src/components/Todos/index.tsx
  src/index.css
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.8782d26a.css
  static/css/main.8782d26a.css.map
  static/css/main.e706c4f1.css
  static/css/main.e706c4f1.css.map
  static/js/main.57ebf2fa.js
  static/js/main.57ebf2fa.js.LICENSE.txt
  static/js/main.57ebf2fa.js.map
  static/js/main.73fa20dd.js
  static/js/main.73fa20dd.js.map
Due: prettier --write

fix: sticky header
  src/components/Header/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: sticky header (#5)
  src/components/Header/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add responsive navigation
  src/App.tsx
  src/components/BottomNavigation/index.tsx
  src/components/Header/index.tsx
  src/components/Todos/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add responsive navigation (#6)
  src/App.tsx
  src/components/BottomNavigation/index.tsx
  src/components/Header/index.tsx
  src/components/Todos/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add responsive search ui
  .eslintrc
  src/App.tsx
  src/components/Header/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.8782d26a.css
  static/css/main.8782d26a.css.map
  static/css/main.dd11d4e5.css
  static/css/main.dd11d4e5.css.map
  static/js/main.57ebf2fa.js
  static/js/main.57ebf2fa.js.map
  static/js/main.75aac4dc.js
  static/js/main.75aac4dc.js.LICENSE.txt
  static/js/main.75aac4dc.js.map
Due: prettier --write

refactor: search ui
  src/components/Header/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: extract SearchBox
  src/components/Header/index.tsx
  src/components/SearchBox/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: sticky header
  src/App.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.a282bf41.css
  static/css/main.a282bf41.css.map
  static/css/main.dd11d4e5.css
  static/css/main.dd11d4e5.css.map
  static/js/main.75aac4dc.js
  static/js/main.75aac4dc.js.map
  static/js/main.b4a2f18c.js
  static/js/main.b4a2f18c.js.LICENSE.txt
  static/js/main.b4a2f18c.js.map
Due: prettier --write

feat: add responsive search ui (#7)
  .eslintrc
  src/App.tsx
  src/components/Header/index.tsx
  src/components/SearchBox/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: add deploy github workflow
  .github/workflows/deploy.yml
Due: none

chore: github deploy on merge to main branch (#8)
  .github/workflows/deploy.yml
Due: none

chore: fix gh-pages deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: fix gh-pages deploy workflow (#9)
  .github/workflows/deploy.yml
Due: none

chore: fix deploy workflow
  .github/workflows/deploy.yml
Due: none

chore: fix deploy workflow (#11)
  .github/workflows/deploy.yml
Due: none

Updates
  static/css/main.a282bf41.css.map
  static/js/main.b4a2f18c.js.map
Due: none

chore: update readme (#10)
  README.md
Due: none

Updates
  static/css/main.a282bf41.css.map
Due: none

fix: 1px gap b/n block elements in Safari
  src/components/SearchBox/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: pixel gap b/n block elements in Safari (#12)
  src/components/SearchBox/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.36fcc45a.css
  static/css/main.36fcc45a.css.map
  static/css/main.a282bf41.css
  static/css/main.a282bf41.css.map
  static/js/main.b05c8908.js
  static/js/main.b05c8908.js.LICENSE.txt
  static/js/main.b05c8908.js.map
  static/js/main.b4a2f18c.js
  static/js/main.b4a2f18c.js.map
Due: prettier --write

fix: enhance safari px gap hack
  src/components/SearchBox/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: enhance safari px gap hack (#13)
  src/components/SearchBox/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0648bcff.css
  static/css/main.0648bcff.css.map
  static/css/main.36fcc45a.css
  static/css/main.36fcc45a.css.map
  static/js/main.5818bf4d.js
  static/js/main.5818bf4d.js.LICENSE.txt
  static/js/main.5818bf4d.js.map
  static/js/main.b05c8908.js
  static/js/main.b05c8908.js.map
Due: prettier --write
