Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:cypress -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache, npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: package-lock.json
  package-lock.json
Due: none

Updates
  assets/index.08dc742f.js
  assets/index.0dfa36f9.js
  assets/index.4affcd84.js
  assets/index.79f1999f.js
  assets/index.7a0968a2.js
  assets/index.7abd8fc3.js
  assets/index.f0d81043.js
  index.html
Due: prettier --write

chore: update dependency react-swipeable to v7
  package.json
Due: none

chore: clean up console output in jsdom tests
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/jest.mock.d.ts
Due: prettier --write, npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: clean up console output in jsdom tests (#96)
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/hooks/useLocalStorage.test.ts
  src/jest.mock.d.ts
Due: prettier --write, npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache

chore: update dependency @tailwindcss/line-clamp to ^0.4.0
  package.json
Due: none

Updates
  assets/index.4affcd84.js
  assets/index.778955d6.js
  assets/index.79f1999f.js
  assets/index.a1ac7885.js
  assets/index.c00411d4.js
  assets/index.d5a6b7c0.js
  index.html
Due: prettier --write

Updates
  assets/index.13d4b74e.js
  assets/index.778955d6.js
  assets/index.97537944.js
  assets/index.a1ac7885.js
  assets/index.b5eedaa9.js
  assets/index.cf1cb85e.js
  assets/index.d5a6b7c0.js
  index.html
Due: prettier --write

chore: update jest monorepo to v28
  package.json
Due: none

chore: add jest-environment-jsdom
  package-lock.json
  package.json
Due: none

chore: update react-query to ^4.0.0-beta.7
  package-lock.json
  package.json
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
Due: none

chore: update react-query to ^4.0.0-beta.7 (#97)
  package-lock.json
  package.json
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
Due: none

chore: workaround jest not parsing esm exports properly
  .jest/resolver.js
  jest.config.js
Due: none

chore: bump ts-jest version
  package-lock.json
  package.json
Due: none

refactor: query keys factory instead of plaintext strings
  src/queryKeyFactory.ts
  src/routes/taskNew/AddNewForm/hooks/useCreateTodo.ts
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
  src/routes/tasks/TodoItem/hooks/useUpdateTodo.ts
Due: none

refactor: query keys factory instead of plaintext strings (#98)
  src/queryKeyFactory.ts
  src/routes/taskNew/AddNewForm/hooks/useCreateTodo.ts
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
  src/routes/tasks/TodoItem/hooks/useUpdateTodo.ts
Due: none

Updates
  assets/index.13d4b74e.js
  assets/index.24448920.js
  assets/index.4bee4130.js
  assets/index.5f5f5b0a.js
  assets/index.89670ab1.js
  assets/index.97537944.js
  assets/index.b5eedaa9.js
  assets/index.cf1cb85e.js
  index.html
Due: prettier --write

fix: infinite scroll not loading next page properly
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: none

fix: infinite scroll not loading next page properly (#99)
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: none

Updates
  assets/index.031f8eaa.js
  assets/index.24448920.js
  assets/index.28542f4a.js
  assets/index.54d4bb21.js
  assets/index.5f5f5b0a.js
  assets/index.64b5eda8.js
  assets/index.89670ab1.js
  index.html
Due: prettier --write

chore: update readme
  README.md
Due: none

chore: update dependency husky to v8
  package.json
Due: none

chore: update dependency gh-pages to v4
  package.json
Due: none

fix: async@2.6.3 vulnerability
  package-lock.json
Due: none

chore: update commitlint monorepo to v17
  package.json
Due: none

fix: material theme tweaks
  package-lock.json
  src/routes/layout/Layout.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTask.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
Due: none

fix: material theme tweaks (#104)
  package-lock.json
  src/routes/layout/Layout.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTask.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
Due: none

Updates
  assets/index.0f931722.js
  assets/index.42fcd107.css
  assets/index.54d4bb21.js
  assets/index.64b5eda8.js
  assets/index.71a38ba2.js
  assets/index.8c3ac9cc.js
  assets/index.a23dbd6c.js
  assets/index.a683f715.css
  index.html
Due: prettier --write

chore: update dependency msw to ^0.41.0
  package.json
Due: none

refactor: update query & atoms folder structure
  src/atoms/index.ts
  src/atoms/queryAtom.ts
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Header/index.ts
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/AddNewForm/query/createTodo.gql
  src/routes/taskNew/AddNewForm/query/index.ts
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/TodoItem/query/deleteTodo.gql
  src/routes/tasks/TodoItem/query/index.ts
  src/routes/tasks/TodoItem/query/updateTodo.gql
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/query/index.ts
  src/routes/tasks/Todos/query/todos.gql
  src/routes/tasks/Todos/query/useTodos.ts
Due: none

refactor: update query & atoms folder structure (#106)
  src/atoms/index.ts
  src/atoms/queryAtom.ts
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Header/index.ts
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/AddNewForm/query/createTodo.gql
  src/routes/taskNew/AddNewForm/query/index.ts
  src/routes/taskNew/AddNewForm/query/useCreateTodo.ts
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/TodoItem/query/deleteTodo.gql
  src/routes/tasks/TodoItem/query/index.ts
  src/routes/tasks/TodoItem/query/updateTodo.gql
  src/routes/tasks/TodoItem/query/useDeleteTodo.ts
  src/routes/tasks/TodoItem/query/useUpdateTodo.ts
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/query/index.ts
  src/routes/tasks/Todos/query/todos.gql
  src/routes/tasks/Todos/query/useTodos.ts
Due: none

Path conditions:
  prettier --write: ((any of: *.{html,css}) or (any of: cypress/**/*.ts)) or (any of: src/**/*.test.{ts,tsx})
  npm run lint:cypress -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache: any of: cypress/**/*.ts
  npm run lint:jest -- --cache --fix --cache-location ./node_modules/.cache/.eslintcache: any of: src/**/*.test.{ts,tsx}
