Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "npm run lint:fix",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}

fix: sticky header (#25)
  src/routes/layout/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: delete item
  package-lock.json
  package.json
  src/components/SwipeToAction/index.tsx
  src/components/index.ts
  src/generated/index.ts
  src/routes/tasks/TodoItem/deleteTodo.gql
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/Todos/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.15e17c30.css
  static/css/main.15e17c30.css.map
  static/css/main.bc966d3a.css
  static/css/main.bc966d3a.css.map
  static/js/main.1c733c6a.js
  static/js/main.1c733c6a.js.LICENSE.txt
  static/js/main.1c733c6a.js.map
  static/js/main.82f97f75.js
  static/js/main.82f97f75.js.map
Due: prettier --write

refactor: extract layers to separeate components
  src/components/SwipeToAction/BackgroundLayer.tsx
  src/components/SwipeToAction/ForegroundLayer.tsx
  src/components/SwipeToAction/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: delete item (no touch)
  src/components/SwipeToAction/index.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/TodoItem/useDeleteTodo.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: delete item (#24)
  package-lock.json
  package.json
  src/components/SwipeToAction/BackgroundLayer.tsx
  src/components/SwipeToAction/ForegroundLayer.tsx
  src/components/SwipeToAction/index.tsx
  src/components/index.ts
  src/generated/index.ts
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/deleteTodo.gql
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/TodoItem/useDeleteTodo.ts
  src/routes/tasks/Todos/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0d3406b3.css
  static/css/main.0d3406b3.css.map
  static/css/main.bc966d3a.css
  static/css/main.bc966d3a.css.map
  static/js/main.15a0d4ac.js
  static/js/main.15a0d4ac.js.LICENSE.txt
  static/js/main.15a0d4ac.js.map
  static/js/main.1c733c6a.js
  static/js/main.1c733c6a.js.map
Due: prettier --write

refactor: optional className
  src/components/SwipeToAction/index.tsx
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: optional className (#26)
  src/components/SwipeToAction/index.tsx
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0d3406b3.css.map
  static/js/main.15a0d4ac.js
  static/js/main.15a0d4ac.js.map
  static/js/main.478b6c6a.js
  static/js/main.478b6c6a.js.LICENSE.txt
  static/js/main.478b6c6a.js.map
Due: prettier --write

fix: accessible image buttons
  src/routes/tasks/TodoItem/ActionBar.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: accessible image buttons (#27)
  src/routes/tasks/TodoItem/ActionBar.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0d3406b3.css.map
  static/js/main.478b6c6a.js
  static/js/main.478b6c6a.js.map
  static/js/main.cc798898.js
  static/js/main.cc798898.js.LICENSE.txt
  static/js/main.cc798898.js.map
Due: prettier --write

refactor: createTodo hook
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/AddNewForm/useCreateTodo.ts
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: createTodo hook (#28)
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/AddNewForm/useCreateTodo.ts
  src/routes/taskNew/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0d3406b3.css
  static/css/main.0d3406b3.css.map
  static/css/main.b2559c99.css
  static/css/main.b2559c99.css.map
  static/js/main.7724c04f.js
  static/js/main.7724c04f.js.LICENSE.txt
  static/js/main.7724c04f.js.map
  static/js/main.cc798898.js
  static/js/main.cc798898.js.map
Due: prettier --write

feat: toggle item
  src/generated/index.ts
  src/index.css
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/TodoItem/updateTodo.gql
  src/routes/tasks/TodoItem/useUpdateTodo.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: toggle item (#29)
  src/generated/index.ts
  src/index.css
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/TodoItem/updateTodo.gql
  src/routes/tasks/TodoItem/useUpdateTodo.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.b2559c99.css
  static/css/main.b2559c99.css.map
  static/css/main.d06a7b1a.css
  static/css/main.d06a7b1a.css.map
  static/js/main.7724c04f.js
  static/js/main.7724c04f.js.map
  static/js/main.ffcf116b.js
  static/js/main.ffcf116b.js.LICENSE.txt
  static/js/main.ffcf116b.js.map
Due: prettier --write

feat: scroll to top on router navigation
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/index.ts
  src/App/useScrollToTop.ts
  src/routes/analytics/index.tsx
  src/routes/layout/index.tsx
  src/routes/settings/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: scroll to top on router navigation (#30)
  src/App/App.test.tsx
  src/App/App.tsx
  src/App/index.ts
  src/App/useScrollToTop.ts
  src/routes/analytics/index.tsx
  src/routes/layout/index.tsx
  src/routes/settings/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.751e0ece.css
  static/css/main.751e0ece.css.map
  static/css/main.d06a7b1a.css
  static/css/main.d06a7b1a.css.map
  static/js/main.22b56964.js
  static/js/main.22b56964.js.LICENSE.txt
  static/js/main.22b56964.js.map
  static/js/main.ffcf116b.js
  static/js/main.ffcf116b.js.map
Due: prettier --write

feat: edit item
  src/components/SwipeToAction/index.tsx
  src/routes/tasks/TodoItem/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: SwipeToAction to handle different left/right swipe action & ui (#31)
  src/components/SwipeToAction/index.tsx
  src/routes/tasks/TodoItem/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.751e0ece.css.map
  static/js/main.22b56964.js
  static/js/main.22b56964.js.map
  static/js/main.d3373be3.js
  static/js/main.d3373be3.js.LICENSE.txt
  static/js/main.d3373be3.js.map
Due: prettier --write

feat: lazy loading
  src/App/App.tsx
  src/App/LoadingIndicator.tsx
  src/routes/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: accessible todo items & toast
  src/queryClient.ts
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: accessible todo items (#33)
  src/queryClient.ts
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.25af99d9.css
  static/css/main.25af99d9.css.map
  static/css/main.751e0ece.css
  static/css/main.751e0ece.css.map
  static/js/main.5803eed0.js
  static/js/main.5803eed0.js.LICENSE.txt
  static/js/main.5803eed0.js.map
  static/js/main.d3373be3.js
  static/js/main.d3373be3.js.map
Due: prettier --write

refactor: lazy-load tasks routes
  src/App/App.tsx
  src/routes/index.ts
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: add error boundary
  package-lock.json
  package.json
  src/App/App.tsx
  src/App/ErrorFallback.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: routes code-splitting (#32)
  package-lock.json
  package.json
  src/App/App.tsx
  src/App/ErrorFallback.tsx
  src/App/LoadingIndicator.tsx
  src/routes/index.ts
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.25af99d9.css
  static/css/main.25af99d9.css.map
  static/css/main.f76ad07b.css
  static/css/main.f76ad07b.css.map
  static/js/37.d24ba544.chunk.js
  static/js/37.d24ba544.chunk.js.map
  static/js/726.6e94154a.chunk.js
  static/js/726.6e94154a.chunk.js.map
  static/js/736.b05f3462.chunk.js
  static/js/736.b05f3462.chunk.js.LICENSE.txt
  static/js/736.b05f3462.chunk.js.map
  static/js/827.936223c6.chunk.js
  static/js/827.936223c6.chunk.js.map
  static/js/main.1170b179.js
  static/js/main.1170b179.js.LICENSE.txt
  static/js/main.1170b179.js.map
  static/js/main.5803eed0.js
  static/js/main.5803eed0.js.map
Due: prettier --write

chore: update readme
  README.md
Due: none

fix: suspense granularity for better ux
  src/App/App.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: suspense granularity for better ux (#34)
  src/App/App.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.f76ad07b.css.map
  static/js/main.1170b179.js
  static/js/main.1170b179.js.map
  static/js/main.3692fb9f.js
  static/js/main.3692fb9f.js.LICENSE.txt
  static/js/main.3692fb9f.js.map
Due: prettier --write

refactor: add spinner to loading indicator
  src/App/App.tsx
  src/App/LoadingIndicator.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: add spinner to loading indicator (#35)
  src/App/App.tsx
  src/App/LoadingIndicator.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.5ab364a3.css
  static/css/main.5ab364a3.css.map
  static/css/main.f76ad07b.css
  static/css/main.f76ad07b.css.map
  static/js/main.3692fb9f.js
  static/js/main.3692fb9f.js.map
  static/js/main.98993e70.js
  static/js/main.98993e70.js.LICENSE.txt
  static/js/main.98993e70.js.map
Due: prettier --write
