Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:cypress -- --fix, npm run lint:jest -- --fix

chore: rename jest setup file
  jest.config.js
  package-lock.json
  src/App/App.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/jest.setup.ts
Due: prettier --write, npm run lint:jest -- --fix

chore: rename jest setup file (#77)
  jest.config.js
  package-lock.json
  src/App/App.test.tsx
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/jest.setup.ts
Due: prettier --write, npm run lint:jest -- --fix

chore: update workflow deps
  .eslintrc
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: update workflow deps (#78)
  .eslintrc
  .github/workflows/cypress.yml
  .github/workflows/deploy.yml
  .github/workflows/main.yml
Due: none

chore: update readme
  README.md
Due: none

chore: autosort tailwind classes
  package-lock.json
  package.json
  src/App/ErrorFallback.tsx
  src/App/LoadingIndicator.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SwipeToAction/BackgroundLayer.tsx
  src/components/SwipeToAction/ForegroundLayer.tsx
  src/components/ThemeToggle/ThemeToggle.tsx
  src/index.css
  src/routes/analytics/Analytics.tsx
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/notFound/NotFound.tsx
  src/routes/settings/Settings.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTask.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
  src/routes/tasks/Tasks.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write

chore: autosort tailwind classes (#79)
  package-lock.json
  package.json
  src/App/ErrorFallback.tsx
  src/App/LoadingIndicator.tsx
  src/components/SearchBox/SearchBox.tsx
  src/components/SwipeToAction/BackgroundLayer.tsx
  src/components/SwipeToAction/ForegroundLayer.tsx
  src/components/ThemeToggle/ThemeToggle.tsx
  src/index.css
  src/routes/analytics/Analytics.tsx
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/notFound/NotFound.tsx
  src/routes/settings/Settings.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTask.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
  src/routes/tasks/Tasks.tsx
  src/routes/tasks/TodoItem/ActionBar.tsx
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write

chore(deps): add renovate.json
  renovate.json
Due: none

Updates
  assets/index.002996e3.js
  assets/index.1ec6fada.js
  assets/index.2529de12.js
  assets/index.2bab4a19.js
  assets/index.d8209acd.js
  assets/index.ed4b2f90.js
  index.html
Due: prettier --write

chore: setup renovate
  renovate.json
Due: none

fix(deps): update dependency @testing-library/react-hooks to v8
  package.json
Due: none

chore: force legacy peer deps
  renovate.json
Due: none

chore: package-lock.json
  package-lock.json
Due: none

fix(deps): update dependency @types/react-dom to v18
  package.json
Due: none

fix(deps): update dependency eslint-config-airbnb-typescript to v17
  package.json
Due: none

fix(deps): update dependency @types/react to v18
  package.json
Due: none

chore: update react-query
  package-lock.json
  package.json
  src/routes/taskNew/AddNewForm/hooks/useCreateTodo.ts
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
  src/routes/tasks/TodoItem/hooks/useUpdateTodo.ts
  src/routes/tasks/Todos/Todos.tsx
Due: none

Updates
  assets/index.0930b494.js
  assets/index.2529de12.js
  assets/index.2bab4a19.js
  assets/index.3cf4227b.js
  assets/index.73eec850.js
  assets/index.d322db33.js
  assets/index.d8209acd.js
  assets/index.ed4b2f90.js
  index.html
Due: prettier --write

chore: update prettier config
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

chore: update prettier config (#87)
  .vscode/settings.json
  package-lock.json
  package.json
Due: none

fix(deps): update eslint-plugin-testing-library to ^5.3.0
  package-lock.json
  package.json
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

fix(deps): update eslint-plugin-testing-library to ^5.3.0 (#88)
  package-lock.json
  package.json
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: update renovate.json
  renovate.json
Due: none

chore: update lint-staged script
  .lintstagedrc
Due: none

chore: update readme
  .github/workflows/cypress.yml
  README.md
Due: none

fix: infinite scroll data fetching
  src/App/App.test.tsx
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: prettier --write, npm run lint:jest -- --fix

fix: infinite scroll data fetching (#89)
  src/App/App.test.tsx
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: prettier --write, npm run lint:jest -- --fix

Updates
  assets/index.31edc372.js
  assets/index.3cf4227b.js
  assets/index.638995e6.js
  assets/index.73eec850.js
  assets/index.a7edace3.js
  assets/index.ac2e625b.js
  assets/index.d322db33.js
  index.html
Due: prettier --write

chore: update eslint cache location
  .lintstagedrc
Due: none

chore: update eslint cache location (#90)
  .lintstagedrc
Due: none

feat: delete item with optimistic update
  .vscode/launch.json
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
Due: prettier --write, npm run lint:jest -- --fix

feat: delete item with optimistic update (#92)
  .vscode/launch.json
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/routes/tasks/TodoItem/hooks/useDeleteTodo.ts
Due: prettier --write, npm run lint:jest -- --fix

chore: update reach-ui monorepo to ^0.17.0
  package.json
Due: none

Updates
  assets/index.08dc742f.js
  assets/index.31edc372.js
  assets/index.638995e6.js
  assets/index.7a0968a2.js
  assets/index.7abd8fc3.js
  assets/index.92ff0a41.js
  assets/index.ac2e625b.js
  index.html
Due: prettier --write

Path conditions:
  prettier --write: ((any of: *.{html,css}) or (any of: cypress/**/*.ts)) or (any of: src/**/*.test.{ts,tsx})
  npm run lint:cypress -- --fix: any of: cypress/**/*.ts
  npm run lint:jest -- --fix: any of: src/**/*.test.{ts,tsx}
