Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:cypress -- --fix, npm run lint:jest -- --fix

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "cypress/**/*.ts": [
    "prettier --write",
    "npm run lint:cypress -- --fix"
  ],
  "src/**/*.test.{ts,tsx}": [
    "prettier --write",
    "npm run lint:jest -- --fix"
  ],
  "src/**/*.!(test).{ts,tsx}": [
    "prettier --write",
    "npm run lint:src -- --fix",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}

chore: prepend @ts-nocheck for graphql codegen
  .graphqlrc.yml
  package-lock.json
  package.json
Due: none

chore: prepend @ts-nocheck for graphql codegen (#64)
  .graphqlrc.yml
  package-lock.json
  package.json
Due: none

Updates
  static/css/main.b8f3694e.css.map
Due: none

chore: fix e2e test assertion
  cypress/integration/App.spec.ts
  cypress/support/index.ts
Due: prettier --write, npm run lint:cypress -- --fix

chore: fix e2e test assertion (#65)
  cypress/integration/App.spec.ts
  cypress/support/index.ts
Due: prettier --write, npm run lint:cypress -- --fix

chore: update browsers data
  package-lock.json
Due: none

chore: update browsers data (#66)
  package-lock.json
Due: none

refactor: enhance search ux
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: none

refactor: enhance search ux (#67)
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: none

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css.map
  static/js/407.59bfa297.chunk.js
  static/js/407.59bfa297.chunk.js.map
  static/js/407.bf5be2fb.chunk.js
  static/js/407.bf5be2fb.chunk.js.map
  static/js/main.86bf8e96.js
  static/js/main.86bf8e96.js.LICENSE.txt
  static/js/main.86bf8e96.js.map
  static/js/main.bfce4366.js
  static/js/main.bfce4366.js.map
Due: prettier --write

chore: fix jsdom test
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: fix jsdom test (#68)
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: add todo comment
  src/mocks/msw/todos.ts
Due: none

chore: replace testid usage where applicable
  cypress/integration/App.spec.ts
  src/App/App.test.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:cypress -- --fix, npm run lint:jest -- --fix

chore: do not generate videos for cypress test runs
  cypress.json
Due: none

chore: replace testid usage where applicable (#69)
  cypress/integration/App.spec.ts
  src/App/App.test.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:cypress -- --fix, npm run lint:jest -- --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css.map
  static/js/407.4e3f244f.chunk.js
  static/js/407.4e3f244f.chunk.js.map
  static/js/407.59bfa297.chunk.js
  static/js/407.59bfa297.chunk.js.map
  static/js/main.86bf8e96.js
  static/js/main.86bf8e96.js.map
  static/js/main.b2c00c24.js
  static/js/main.b2c00c24.js.LICENSE.txt
  static/js/main.b2c00c24.js.map
Due: prettier --write

chore: add jsdom test for server error
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: add jsdom test for server error (#70)
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: add cypress-axe
  cypress/integration/App.spec.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/App/ErrorFallback.tsx
  src/components/SearchBox/SearchBox.tsx
  src/index.css
  src/routes/layout/Header/Header.tsx
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:cypress -- --fix

chore: add a11y validation to e2e tests
  cypress/integration/App.spec.ts
  cypress/plugins/index.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/App/ErrorFallback.tsx
  src/components/SearchBox/SearchBox.tsx
  src/index.css
  src/routes/layout/Header/Header.tsx
  src/routes/tasks/TodoItem/TodoItem.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:cypress -- --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css
  static/css/main.b8f3694e.css.map
  static/css/main.ec60af36.css
  static/css/main.ec60af36.css.map
  static/js/407.3b419df9.chunk.js
  static/js/407.3b419df9.chunk.js.map
  static/js/407.4e3f244f.chunk.js
  static/js/407.4e3f244f.chunk.js.map
  static/js/main.7c4cfee0.js
  static/js/main.7c4cfee0.js.LICENSE.txt
  static/js/main.7c4cfee0.js.map
  static/js/main.b2c00c24.js
  static/js/main.b2c00c24.js.map
Due: prettier --write

chore: add jest-dom eslint plugin
  .eslintrc
  package-lock.json
  package.json
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: add jest-dom eslint plugin (#72)
  .eslintrc
  package-lock.json
  package.json
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

Updates
  static/css/main.ec60af36.css.map
Due: none

chore: update readme
  README.md
Due: none

chore: streamline query* usage in jsdom tests
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: streamline query* usage in jsdom tests (#73)
  src/App/App.test.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: enable msw for e2e tests
  cypress/integration/App.spec.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package.json
  src/index.tsx
Due: prettier --write, npm run lint:cypress -- --fix

chore: enable api mocking for e2e tests (#74)
  cypress/integration/App.spec.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  package.json
  src/index.tsx
Due: prettier --write, npm run lint:cypress -- --fix

Updates
  asset-manifest.json
  index.html
  static/css/main.ec60af36.css.map
  static/js/123.0bc8d2ea.chunk.js
  static/js/123.0bc8d2ea.chunk.js.map
  static/js/144.499a356d.chunk.js
  static/js/144.499a356d.chunk.js.map
  static/js/378.88d71332.chunk.js
  static/js/378.88d71332.chunk.js.map
  static/js/378.dab3fd57.chunk.js
  static/js/378.dab3fd57.chunk.js.LICENSE.txt
  static/js/378.dab3fd57.chunk.js.map
  static/js/407.3b419df9.chunk.js
  static/js/407.3b419df9.chunk.js.map
  static/js/407.ba99114c.chunk.js
  static/js/407.ba99114c.chunk.js.map
  static/js/main.7c4cfee0.js
  static/js/main.7c4cfee0.js.map
  static/js/main.eafa181a.js
  static/js/main.eafa181a.js.LICENSE.txt
  static/js/main.eafa181a.js.map
Due: prettier --write

chore: upgrade to react 18
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/components/Headroom/hooks/useHeadroom.ts
  src/components/SearchBox/SearchBox.test.tsx
  src/index.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:jest -- --fix

chore: upgrade to react 18 (#75)
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/components/Headroom/hooks/useHeadroom.ts
  src/components/SearchBox/SearchBox.test.tsx
  src/index.tsx
  src/routes/tasks/Todos/Todos.tsx
Due: prettier --write, npm run lint:jest -- --fix

Updates
  asset-manifest.json
  index.html
  mockServiceWorker.js
  static/css/main.620fbb60.css
  static/css/main.620fbb60.css.map
  static/css/main.ec60af36.css
  static/css/main.ec60af36.css.map
  static/js/123.0bc8d2ea.chunk.js
  static/js/123.0bc8d2ea.chunk.js.map
  static/js/123.6885bcd8.chunk.js
  static/js/123.6885bcd8.chunk.js.map
  static/js/378.04a7847d.chunk.js
  static/js/378.04a7847d.chunk.js.LICENSE.txt
  static/js/378.04a7847d.chunk.js.map
  static/js/378.dab3fd57.chunk.js
  static/js/378.dab3fd57.chunk.js.map
  static/js/407.ba99114c.chunk.js
  static/js/407.ba99114c.chunk.js.map
  static/js/407.f9223f58.chunk.js
  static/js/407.f9223f58.chunk.js.map
  static/js/main.64a5766b.js
  static/js/main.64a5766b.js.LICENSE.txt
  static/js/main.64a5766b.js.map
  static/js/main.eafa181a.js
  static/js/main.eafa181a.js.map
Due: prettier --write

chore: ignore js configs from linting
  .eslintignore
Due: none

chore: migrate from cra to vite
  .env
  .github/workflows/main.yml
  index.html
  jest.config.js
  package-lock.json
  package.json
  src/env.d.ts
  src/index.tsx
  src/react-app-env.d.ts
  src/setupTests.ts
  tsconfig.json
  vite.config.js
  wait-on.config.js
Due: prettier --write

chore: migrate to vite tooling (#76)
  .env
  .github/workflows/main.yml
  index.html
  jest.config.js
  package-lock.json
  package.json
  src/env.d.ts
  src/index.tsx
  src/react-app-env.d.ts
  src/setupTests.ts
  tsconfig.json
  vite.config.js
  wait-on.config.js
Due: prettier --write

Updates
  asset-manifest.json
  assets/index.002996e3.js
  assets/index.1ec6fada.js
  assets/index.a683f715.css
  assets/index.b7ff0b37.js
  assets/index.f9576e55.js
  assets/web-vitals.67dce932.js
  index.html
  static/css/main.620fbb60.css
  static/css/main.620fbb60.css.map
  static/js/123.6885bcd8.chunk.js
  static/js/123.6885bcd8.chunk.js.map
  static/js/144.499a356d.chunk.js
  static/js/144.499a356d.chunk.js.map
  static/js/378.04a7847d.chunk.js
  static/js/378.04a7847d.chunk.js.LICENSE.txt
  static/js/378.04a7847d.chunk.js.map
  static/js/407.f9223f58.chunk.js
  static/js/407.f9223f58.chunk.js.map
  static/js/445.44064ca0.chunk.js
  static/js/445.44064ca0.chunk.js.map
  static/js/787.0c30b624.chunk.js
  static/js/787.0c30b624.chunk.js.map
  static/js/986.758b659e.chunk.js
  static/js/986.758b659e.chunk.js.map
  static/js/main.64a5766b.js
  static/js/main.64a5766b.js.LICENSE.txt
  static/js/main.64a5766b.js.map
Due: prettier --write
