Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add CTA floating button
  src/App.tsx
  src/components/BottomNavigation/index.tsx
  src/components/CtaButton/index.tsx
  src/components/Footer/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add CTA floating button (#14)
  src/App.tsx
  src/components/BottomNavigation/index.tsx
  src/components/CtaButton/index.tsx
  src/components/Footer/index.tsx
  src/components/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0648bcff.css
  static/css/main.0648bcff.css.map
  static/css/main.8d7fca00.css
  static/css/main.8d7fca00.css.map
  static/js/main.5818bf4d.js
  static/js/main.5818bf4d.js.map
  static/js/main.f1071f77.js
  static/js/main.f1071f77.js.LICENSE.txt
  static/js/main.f1071f77.js.map
Due: prettier --write

fix: remove device specific search rounded corners on iOS
  src/components/SearchBox/index.tsx
  src/index.css
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: remove device specific search appearance on iOS (#15)
  src/components/SearchBox/index.tsx
  src/index.css
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.8d7fca00.css
  static/css/main.8d7fca00.css.map
  static/css/main.96200f88.css
  static/css/main.96200f88.css.map
  static/js/main.4ec86265.js
  static/js/main.4ec86265.js.LICENSE.txt
  static/js/main.4ec86265.js.map
  static/js/main.f1071f77.js
  static/js/main.f1071f77.js.map
Due: prettier --write

chore: restructure component folders
  src/components/Footer/BottomNavigation/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/SearchBox/index.tsx
  src/components/Header/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: extract TodoItem
  src/components/Todos/TodoItem/index.tsx
  src/components/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

refactor: extract TodoItem (#16)
  src/components/Todos/TodoItem/index.tsx
  src/components/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0a848b2a.css
  static/css/main.0a848b2a.css.map
  static/css/main.96200f88.css
  static/css/main.96200f88.css.map
  static/js/main.1393cbfe.js
  static/js/main.1393cbfe.js.LICENSE.txt
  static/js/main.1393cbfe.js.map
  static/js/main.4ec86265.js
  static/js/main.4ec86265.js.map
Due: prettier --write

feat: wire-up search functionality
  README.md
  package-lock.json
  package.json
  src/components/Header/SearchBox/index.tsx
  src/components/Todos/todos.gql
  src/components/Todos/useTodos.ts
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: wire-up search functionality (#17)
  README.md
  package-lock.json
  package.json
  src/components/Header/SearchBox/index.tsx
  src/components/Todos/todos.gql
  src/components/Todos/useTodos.ts
  src/generated/index.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0a848b2a.css.map
  static/js/main.1393cbfe.js
  static/js/main.1393cbfe.js.map
  static/js/main.8c73ea3e.js
  static/js/main.8c73ea3e.js.LICENSE.txt
  static/js/main.8c73ea3e.js.map
Due: prettier --write

feat: add client-side navigation
  README.md
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/Footer/BottomNavigation/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Navigation/index.tsx
  src/components/index.ts
  src/index.tsx
  src/routes/analytics.tsx
  src/routes/index.ts
  src/routes/layout.tsx
  src/routes/notFound.tsx
  src/routes/settings.tsx
  src/routes/tasks.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add client-side navigation (#18)
  README.md
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/Footer/BottomNavigation/index.tsx
  src/components/Footer/index.tsx
  src/components/Header/index.tsx
  src/components/Navigation/index.tsx
  src/components/index.ts
  src/index.tsx
  src/routes/analytics.tsx
  src/routes/index.ts
  src/routes/layout.tsx
  src/routes/notFound.tsx
  src/routes/settings.tsx
  src/routes/tasks.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.0a848b2a.css
  static/css/main.0a848b2a.css.map
  static/css/main.ba4c96c9.css
  static/css/main.ba4c96c9.css.map
  static/js/main.8c73ea3e.js
  static/js/main.8c73ea3e.js.map
  static/js/main.a9868749.js
  static/js/main.a9868749.js.LICENSE.txt
  static/js/main.a9868749.js.map
Due: prettier --write

fix: sub-directory server deployment
  src/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: update manifest.json
  public/manifest.json
Due: none

fix: sub-directory server deployment (#19)
  src/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  manifest.json
  static/css/main.ba4c96c9.css.map
  static/js/main.a9868749.js
  static/js/main.a9868749.js.map
  static/js/main.b2180ecc.js
  static/js/main.b2180ecc.js.LICENSE.txt
  static/js/main.b2180ecc.js.map
Due: prettier --write

fix: unique key for nav lists
  src/components/Navigation/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: unique key for nav lists (#20)
  src/components/Navigation/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.ba4c96c9.css.map
  static/js/main.73772138.js
  static/js/main.73772138.js.LICENSE.txt
  static/js/main.73772138.js.map
  static/js/main.b2180ecc.js
  static/js/main.b2180ecc.js.map
Due: prettier --write

feat: add new item
  .vscode/launch.json
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/SearchBox/index.tsx
  src/components/index.ts
  src/generated/index.ts
  src/index.css
  src/index.tsx
  src/queryClient.ts
  src/routes/analytics/index.tsx
  src/routes/index.ts
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/notFound/index.tsx
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/createTodo.gql
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
  src/routes/tasks.tsx
  src/routes/tasks/CtaButton/index.tsx
  src/routes/tasks/Todos/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
  src/routes/tasks/Todos/todos.gql
  src/routes/tasks/Todos/useTodos.ts
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

feat: add new item (#21)
  .vscode/launch.json
  package-lock.json
  package.json
  src/App.test.tsx
  src/App.tsx
  src/components/SearchBox/index.tsx
  src/components/index.ts
  src/generated/index.ts
  src/index.css
  src/index.tsx
  src/queryClient.ts
  src/routes/analytics/index.tsx
  src/routes/index.ts
  src/routes/layout/Header/index.tsx
  src/routes/layout/Navigation/index.tsx
  src/routes/layout/index.tsx
  src/routes/notFound/index.tsx
  src/routes/settings/index.tsx
  src/routes/taskNew/AddNewForm/createTodo.gql
  src/routes/taskNew/AddNewForm/index.tsx
  src/routes/taskNew/index.tsx
  src/routes/tasks.tsx
  src/routes/tasks/CtaButton/index.tsx
  src/routes/tasks/Todos/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
  src/routes/tasks/Todos/todos.gql
  src/routes/tasks/Todos/useTodos.ts
  src/routes/tasks/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.15e17c30.css
  static/css/main.15e17c30.css.map
  static/css/main.ba4c96c9.css
  static/css/main.ba4c96c9.css.map
  static/js/main.42495ef5.js
  static/js/main.42495ef5.js.LICENSE.txt
  static/js/main.42495ef5.js.map
  static/js/main.73772138.js
  static/js/main.73772138.js.map
Due: prettier --write

Updates
  404.html
  static/css/main.15e17c30.css.map
  static/js/main.42495ef5.js.map
Due: prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/css/main.15e17c30.css.map
  static/js/main.42495ef5.js
  static/js/main.42495ef5.js.map
  static/js/main.dc7d3712.js
  static/js/main.dc7d3712.js.LICENSE.txt
  static/js/main.dc7d3712.js.map
Due: prettier --write

Updates
  404.html
  static/css/main.15e17c30.css.map
Due: prettier --write

Updates
  404.html
  asset-manifest.json
  index.html
  static/css/main.15e17c30.css.map
  static/js/main.42495ef5.js
  static/js/main.42495ef5.js.LICENSE.txt
  static/js/main.42495ef5.js.map
  static/js/main.dc7d3712.js
  static/js/main.dc7d3712.js.map
Due: prettier --write

fix: github pages client-side routing hack
  public/404.html
  public/index.html
Due: prettier --write

fix: github pages client-side routing hack (#22)
  public/404.html
  public/index.html
Due: prettier --write

fix: button accessibility
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: button accessibility (#23)
  src/routes/tasks/CtaButton/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.15e17c30.css.map
  static/js/main.42495ef5.js
  static/js/main.42495ef5.js.map
  static/js/main.82f97f75.js
  static/js/main.82f97f75.js.LICENSE.txt
  static/js/main.82f97f75.js.map
Due: prettier --write

feat: delete item
  package-lock.json
  package.json
  src/components/SwipeToAction/index.tsx
  src/components/index.ts
  src/generated/index.ts
  src/routes/tasks/TodoItem/deleteTodo.gql
  src/routes/tasks/TodoItem/index.tsx
  src/routes/tasks/Todos/TodoItem/index.tsx
  src/routes/tasks/Todos/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: update readme
  README.md
Due: none

refactor: streamline z-index
  src/routes/layout/Navigation/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: sticky header
  src/routes/layout/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Path conditions:
  prettier --write: (any of: *.{html,css}) or (any of: *.{ts,tsx})
  npm run lint:fix: any of: *.{ts,tsx}
  tsc-files --noEmit: any of: *.{ts,tsx}
  npm run test:related: any of: *.{ts,tsx}
