Repository manoldonev/react-todo-app-ts: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

.lintstagedrc:

{
  "*.{html,css}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "prettier --write",
    "npm run lint:fix",
    "tsc-files --noEmit",
    "npm run test:related"
  ]
}

chore: cssnano minify
  package-lock.json
  package.json
  postcss.config.js
Due: none

chore: cssnano minify (#52)
  package-lock.json
  package.json
  postcss.config.js
Due: none

Updates
  static/css/main.83313db7.css.map
Due: none

chore: add hook tests
  package-lock.json
  package.json
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/components/ThemeToggle/hooks/useColorMode.ts
  src/components/ThemeToggle/index.tsx
  src/hooks/__mocks__/useHasMounted.ts
  src/hooks/index.ts
  src/hooks/useHasMounted.test.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
  src/setupTests.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: add hook tests (#53)
  package-lock.json
  package.json
  src/components/ThemeToggle/hooks/useColorMode.test.ts
  src/components/ThemeToggle/hooks/useColorMode.ts
  src/components/ThemeToggle/index.tsx
  src/hooks/__mocks__/useHasMounted.ts
  src/hooks/index.ts
  src/hooks/useHasMounted.test.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
  src/setupTests.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.83313db7.css.map
  static/js/827.13c0092c.chunk.js
  static/js/827.13c0092c.chunk.js.map
  static/js/827.39e26e06.chunk.js
  static/js/827.39e26e06.chunk.js.map
  static/js/main.47c06e74.js
  static/js/main.47c06e74.js.LICENSE.txt
  static/js/main.47c06e74.js.map
  static/js/main.5a5f73db.js
  static/js/main.5a5f73db.js.map
Due: prettier --write

Updates
  asset-manifest.json
  index.html
  static/css/main.83313db7.css.map
  static/js/37.8964175b.chunk.js
  static/js/37.8964175b.chunk.js.map
  static/js/407.b477774a.chunk.js
  static/js/407.b477774a.chunk.js.map
  static/js/445.5adcb66a.chunk.js
  static/js/445.5adcb66a.chunk.js.map
  static/js/726.62bc824f.chunk.js
  static/js/726.62bc824f.chunk.js.map
  static/js/827.39e26e06.chunk.js
  static/js/827.39e26e06.chunk.js.map
  static/js/986.885d7a43.chunk.js
  static/js/986.885d7a43.chunk.js.map
  static/js/main.21ed071c.js
  static/js/main.21ed071c.js.LICENSE.txt
  static/js/main.21ed071c.js.map
  static/js/main.47c06e74.js
  static/js/main.47c06e74.js.map
Due: prettier --write

chore: setup msw for testing
  .eslintrc
  .graphqlrc.yml
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/generated/index.ts
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/mocks/todos.ts
  src/routes/tasks/Todos/Todos.tsx
  src/setupTests.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: setup msw for testing (#55)
  .eslintrc
  .graphqlrc.yml
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/App/App.test.tsx
  src/generated/index.ts
  src/index.tsx
  src/mocks/browser.ts
  src/mocks/handlers.ts
  src/mocks/server.ts
  src/mocks/todos.ts
  src/routes/tasks/Todos/Todos.tsx
  src/setupTests.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  mockServiceWorker.js
  static/css/main.83313db7.css
  static/css/main.83313db7.css.map
  static/css/main.bea35168.css
  static/css/main.bea35168.css.map
  static/js/378.88d71332.chunk.js
  static/js/378.88d71332.chunk.js.LICENSE.txt
  static/js/378.88d71332.chunk.js.map
  static/js/407.a0e0ed20.chunk.js
  static/js/407.a0e0ed20.chunk.js.map
  static/js/407.b477774a.chunk.js
  static/js/407.b477774a.chunk.js.map
  static/js/787.0c30b624.chunk.js
  static/js/787.0c30b624.chunk.js.map
  static/js/787.202fe7b6.chunk.js
  static/js/787.202fe7b6.chunk.js.map
  static/js/840.67ae50f5.chunk.js
  static/js/840.67ae50f5.chunk.js.map
  static/js/986.885d7a43.chunk.js
  static/js/986.885d7a43.chunk.js.map
  static/js/986.ab93d098.chunk.js
  static/js/986.ab93d098.chunk.js.map
  static/js/main.153d4be0.js
  static/js/main.153d4be0.js.LICENSE.txt
  static/js/main.153d4be0.js.map
  static/js/main.21ed071c.js
  static/js/main.21ed071c.js.map
Due: prettier --write

chore: msw mock CRUD operations
  src/hooks/__mocks__/useHasMounted.ts
  src/hooks/useLocalStorage.test.ts
  src/mocks/handlers.ts
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: msw mock CRUD operations (#56)
  src/hooks/__mocks__/useHasMounted.ts
  src/hooks/useLocalStorage.test.ts
  src/mocks/handlers.ts
  src/routes/tasks/Todos/hooks/useTodos.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.a6d70e85.css
  static/css/main.a6d70e85.css.map
  static/css/main.bea35168.css
  static/css/main.bea35168.css.map
  static/js/407.a0e0ed20.chunk.js.map
Due: prettier --write

chore: update readme
  README.md
Due: none

chore: add jsdom tests
  .eslintrc
  .gitignore
  package.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
  src/index.tsx
  src/mocks/index.ts
  src/mocks/msw/browser.ts
  src/mocks/msw/handlers.ts
  src/mocks/msw/server.ts
  src/mocks/msw/todos.ts
  src/mocks/utils.ts
  src/routes/analytics/Analytics.tsx
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/settings/Settings.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
  src/setupTests.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: add jsdom tests for mobile/touch screen (#57)
  .eslintrc
  .gitignore
  package.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  src/components/SearchBox/SearchBox.tsx
  src/index.tsx
  src/mocks/index.ts
  src/mocks/msw/browser.ts
  src/mocks/msw/handlers.ts
  src/mocks/msw/server.ts
  src/mocks/msw/todos.ts
  src/mocks/utils.ts
  src/routes/analytics/Analytics.tsx
  src/routes/layout/Header/Header.tsx
  src/routes/layout/Navigation/BottomNavigation.tsx
  src/routes/layout/Navigation/Navigation.tsx
  src/routes/settings/Settings.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
  src/routes/taskNew/NewTaskModal.tsx
  src/routes/tasks/CtaButton/CtaButton.tsx
  src/routes/tasks/Todos/Todos.tsx
  src/routes/tasks/Todos/hooks/useTodos.ts
  src/setupTests.ts
  tsconfig.json
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.a6d70e85.css
  static/css/main.a6d70e85.css.map
  static/css/main.b8f3694e.css
  static/css/main.b8f3694e.css.map
  static/js/407.a0e0ed20.chunk.js
  static/js/407.a0e0ed20.chunk.js.map
  static/js/407.bf5be2fb.chunk.js
  static/js/407.bf5be2fb.chunk.js.map
  static/js/445.44064ca0.chunk.js
  static/js/445.44064ca0.chunk.js.map
  static/js/445.5adcb66a.chunk.js
  static/js/445.5adcb66a.chunk.js.map
  static/js/986.ab93d098.chunk.js
  static/js/986.ab93d098.chunk.js.map
  static/js/986.cdb17322.chunk.js
  static/js/986.cdb17322.chunk.js.map
  static/js/main.153d4be0.js
  static/js/main.153d4be0.js.map
  static/js/main.e05d1667.js
  static/js/main.e05d1667.js.LICENSE.txt
  static/js/main.e05d1667.js.map
Due: prettier --write

fix: theme toggle
  src/hooks/index.ts
  src/hooks/useHasMounted.test.ts
  src/hooks/useHasMounted.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

fix: theme toggle (#58)
  src/hooks/index.ts
  src/hooks/useHasMounted.test.ts
  src/hooks/useHasMounted.ts
  src/hooks/useLocalStorage.test.ts
  src/hooks/useLocalStorage.ts
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css.map
  static/js/986.758b659e.chunk.js
  static/js/986.758b659e.chunk.js.map
  static/js/986.cdb17322.chunk.js
  static/js/986.cdb17322.chunk.js.map
  static/js/main.78e25cb9.js
  static/js/main.78e25cb9.js.LICENSE.txt
  static/js/main.78e25cb9.js.map
  static/js/main.e05d1667.js
  static/js/main.e05d1667.js.map
Due: prettier --write

chore: setup commitlint
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: none

chore: setup commitlint (#59)
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: none

Updates
  static/css/main.b8f3694e.css.map
Due: none

chore: formatting
  commitlint.config.js
Due: none

chore: setup cypress e2e testing
  tsconfig.json
Due: none

chore: setup cypress e2e testing
  .eslintrc
  .lintstagedrc
  .vscode/settings.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/App.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  tsconfig.json
  tsconfig.lint.json
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: setup cypress e2e testing (#61)
  .eslintrc
  .lintstagedrc
  .vscode/settings.json
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/App.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/App/App.test.tsx
  src/components/SearchBox/SearchBox.test.tsx
  tsconfig.json
  tsconfig.lint.json
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: setup cypress workflow
  .github/workflows/cypress.yml
  .gitignore
  cypress.json
  src/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: setup cypress gh workflow (#62)
  .github/workflows/cypress.yml
  .gitignore
  cypress.json
  src/index.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css.map
  static/js/123.0bc8d2ea.chunk.js
  static/js/123.0bc8d2ea.chunk.js.map
  static/js/144.499a356d.chunk.js
  static/js/144.499a356d.chunk.js.map
  static/js/378.88d71332.chunk.js
  static/js/378.88d71332.chunk.js.map
  static/js/378.dab3fd57.chunk.js
  static/js/378.dab3fd57.chunk.js.LICENSE.txt
  static/js/378.dab3fd57.chunk.js.map
  static/js/407.5bfc530c.chunk.js
  static/js/407.5bfc530c.chunk.js.map
  static/js/407.bf5be2fb.chunk.js
  static/js/407.bf5be2fb.chunk.js.map
  static/js/main.67ad6127.js
  static/js/main.67ad6127.js.LICENSE.txt
  static/js/main.67ad6127.js.map
  static/js/main.78e25cb9.js
  static/js/main.78e25cb9.js.map
Due: prettier --write

chore: disable msw for dev/e2e
  cypress.json
  cypress/cypress.d.ts
  cypress/integration/App.spec.ts
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/index.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

chore: add e2e tests (#63)
  cypress.json
  cypress/cypress.d.ts
  cypress/integration/App.spec.ts
  cypress/support/commands.ts
  cypress/support/index.d.ts
  src/index.tsx
  src/routes/taskNew/AddNewForm/AddNewForm.tsx
Due: prettier --write, npm run lint:fix, tsc-files --noEmit, npm run test:related

Updates
  asset-manifest.json
  index.html
  static/css/main.b8f3694e.css.map
  static/js/123.0bc8d2ea.chunk.js
  static/js/123.0bc8d2ea.chunk.js.map
  static/js/144.499a356d.chunk.js
  static/js/144.499a356d.chunk.js.map
  static/js/378.88d71332.chunk.js
  static/js/378.88d71332.chunk.js.LICENSE.txt
  static/js/378.88d71332.chunk.js.map
  static/js/378.dab3fd57.chunk.js
  static/js/378.dab3fd57.chunk.js.map
  static/js/407.5bfc530c.chunk.js
  static/js/407.5bfc530c.chunk.js.map
  static/js/407.bf5be2fb.chunk.js
  static/js/407.bf5be2fb.chunk.js.map
  static/js/main.67ad6127.js
  static/js/main.67ad6127.js.map
  static/js/main.bfce4366.js
  static/js/main.bfce4366.js.LICENSE.txt
  static/js/main.bfce4366.js.map
Due: prettier --write
